$white:#ffffff;
$black:#0e1f29;
$light-blue: #036dd6;
$blue: #0484fe;
$dark-yellow:#DBA100;
$light-yellow:#feb403;
$red:red;
$outline: #D6E0DC;
$orange: #FFA500;
$grey: #ccc;
$whisper: #EEEEEE;
$whisper-dark: #FAFAFA;
$grey-light: #efefef;
$grey-dark: #888888;
// BODY-COLOR
$body-bg:#fff;
// PRIMARY-COLOR
$primary:#FF8E29;
$secondary:#FF8E29;
$primary-text: #242121;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$font-family: 'Heebo', sans-serif !important;
$font-family-montserrat: 'Montserrat', sans-serif !important;
