<!-- ADD-MODAL-STRUCTURE -->
<div class="master-modal member_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- Modal-Header -->
      <div class="modal_close_btn">
        <span (click)="dialogClose()" class="modal-close"><i class="material-icons">close</i></span>
      </div>
      <!-- Modal content-->
      <div mat-dialog-content>
        <!-- Modal-Body -->
        <div class="modal-body">
          <div class="member_detail_row" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row"
            fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="0px">
            <div class="member_detail_column" fxLayout="column" fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30"
              fxFlex.sm="100" fxFlex.xs="100" fxFlexFill>
              <div class="member_img">
                <div class="w-100">
                  <img [src]="data?.image" alt="">
                  <div class="">
                    <h4>Dr.{{data?.firstname}} {{data?.lastname}}</h4>
                    <h5>{{data?.role}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="member_detail_column" fxLayout="column" fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="70"
              fxFlex.sm="70" fxFlex.xs="100" fxFlexFill>
              <div class="member_content">
                <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est
                  augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros
                  laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante tristique nulla,
                  quis posuere dui purus vel urna. Nullam varius, magna nec egestas convallis, orci ex tempus quam, id
                  finibus arcu ipsum fringilla purus. Aenean dapibus suscipit eleifend. Aliquam vel ipsum eu lorem
                  hendrerit iaculis vitae ut lorem. Suspendisse ullamcorper dolor faucibus sem auctor consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
