.gear {
  background: url("http://i.imgur.com/zZ3fMuh.png");
  width: 101px;
  height: 102px;

}



.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}


.special-date {
  background-color: red;
}
