<div class="membership_form">
    <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
      fxFlexFill>
      <!-- First-NAME -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter first Name" formControlName="firstName">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/full_name.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="firstName.invalid && ( firstName.dirty || firstName.touched )">
              <span>Please provide a valid first name</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Email -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter email" formControlName="email">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/mail.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="email.invalid && ( email.dirty || email.touched )">
              <span>Please provide a valid email</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="custom-form-group" *ngIf="hideChoose">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Choose Membership" formControlName="membership">
              <mat-option disabled=""> Choose Membership </mat-option>
              <mat-option [value]="'WAIDA Premium Membership'">WAIDA Premium Membership</mat-option>
              <mat-option [value]="'General Membership'">General Membership</mat-option> -->
      <!-- <mat-option [value]="'EMAIL'">Email</mat-option>
              <mat-option [value]="'PHONE'">Phone</mat-option> -->
      <!-- </mat-select>
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/select.svg" alt="" class="arrow_icon">
            </mat-icon>
            <mat-error *ngIf="membership.invalid && ( membership.dirty || membership.touched )">
              <span>Please select membership</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div> -->
      <!-- PHONE-NO -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter phone number" formControlName="phone">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/contact.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="phone.invalid && ( phone.dirty || phone.touched )">
              <span>Please provide a valid phone number</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!--PASSWORD -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Enter password"
              formControlName="password">
            <mat-icon matSuffix>
              <img (click)="hide2 = !hide2" style="cursor: pointer;"
                src="../../../assets/images/icons/form/eye.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="password.invalid && ( password.dirty || password.touched )">
              <span *ngIf="password.hasError('required')">Please provide a valid password</span>
              <span *ngIf="password.hasError('minlength')">Password must be at least 6 digits long</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- addressLineOne -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter address line 1" formControlName="addressLineOne">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/addresss.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="addressLineOne.invalid && ( addressLineOne.dirty || addressLineOne.touched )">
              <span>Please provide a valid address line 1</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- city -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter city" formControlName="city">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/addresss.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="city.invalid && ( city.dirty || city.touched )">
              <span>Please provide a valid city</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- postalCode -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter postal code" formControlName="postalCode">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/addresss.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="postalCode.invalid && ( postalCode.dirty || postalCode.touched )">
              <span>Please provide a valid postal code</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- studentDetails -->
      <div class="custom-form-group" *ngIf="!hideChoose">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Institution Details" formControlName="studentDetails">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/Building.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="studentDetails.invalid && ( studentDetails.dirty || studentDetails.touched )">
              <span>Please provide a valid Institution Details</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
      fxFlexFill>
      <!-- Last-NAME -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter last Name" formControlName="lastName">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/last_name.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="lastName.invalid && ( lastName.dirty || lastName.touched )">
              <span>Please provide a valid last name</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- membershipPlan -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Choose Membership plan" formControlName="membershipPlan">
              <mat-option disabled=""> Choose Membership Plan </mat-option>
              <mat-option [value]="'365'">membership 2021</mat-option>
              <!-- <mat-option [value]="'EMAIL'">Email</mat-option>
              <mat-option [value]="'PHONE'">Phone</mat-option> -->
            </mat-select>
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/select.svg" alt="" class="arrow_icon">
            </mat-icon>
            <mat-error *ngIf="membershipPlan.invalid && ( membershipPlan.dirty || membershipPlan.touched )">
              <span>Please select membership plan</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- profile Image -->
      <div class="custom-form-group upload_group">
        <div class="custom-form-control">
          <button type="button" class="upload_btn">
            Please Upload Your Image
            <img src="../../../assets/images/icons/upload.svg" alt="" class="upload_icon" />
            <input type="file" placeholder="Please Upload Your Image" class="input-upload"
              (change)="uploadFile(fileInput.files)" #fileInput formControlName="profileUrl">
            <img [src]="profileUrl?.value" *ngIf="profileUrl.value" class="img_preview">
          </button>
          <small class="custom_error"
            *ngIf="profileUrl.invalid && ( profileUrl.dirty || profileUrl.touched )">Please provide a valid
            profile Image</small>
        </div>
      </div>
      <!-- confPassword -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter confirm password"
              formControlName="confPassword">
            <mat-icon matSuffix>
              <img (click)="hide = !hide" style="cursor: pointer;"
                src="../../../assets/images/icons/form/eye.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="confPassword.invalid && ( confPassword.dirty || confPassword.touched )">
              <span>Please provide a valid confirm password</span>
              <span *ngIf="confPassword.hasError('required')">Please provide a valid confirm password</span>
              <span *ngIf="confPassword.hasError('minlength')"> Password must be at least 6 digits long</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!--
      <div class="custom-form-group">
        <div class="custom-form-control">
            <input type="file"  placeholder="choose your profile Image" (change)="uploadFile(fileInput.files)" #fileInput formControlName="profileUrl">
            <img [src]="profileUrl?.value" height="40px" width="40px" *ngIf="profileUrl.value">
              <small  *ngIf="profileUrl.invalid && ( profileUrl.dirty || profileUrl.touched )" style="color: red;">Please provide a valid profile Image</small>
        </div>
      </div> -->
      <!--addressLineTwo -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter address line 2" formControlName="addressLineTwo">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/addresss.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="addressLineTwo.invalid && ( addressLineTwo.dirty || addressLineTwo.touched )">
              <span>Please provide a valid address line 2</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- state -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter state" formControlName="state">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/addresss.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="state.invalid && ( state.dirty || state.touched )">
              <span>Please provide a valid state</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- speciality -->
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter speciality" formControlName="speciality">
            <mat-icon matSuffix>
              <img src="../../../assets/images/icons/form/specility.svg" alt="">
            </mat-icon>
            <mat-error *ngIf="speciality.invalid && ( speciality.dirty || speciality.touched )">
              <span>Please provide a valid speciality</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>