        <!-- DIALOG-BACKUP -->
        <div class="master-modal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <!-- Modal-Header -->
              <div class="modal-header">
                <h4 class="modal-title"> Transaction Staus </h4>
                <div class="modal_close_btn">
                  <span (click)="dialogClose()" class="modal-close"><i class="material-icons">close</i></span>
                </div>
              </div>
              <form>
                <!-- Modal content-->
                <perfect-scrollbar class="modal-body-scrollbar">
                  <div mat-dialog-content>
                    <!-- Modal-Body -->
                    <div class="modal-body">
                      <div class="status_details">
                        <div class="status_img">
                          <img src="../../../assets/images/success.svg" alt="" loading="eager">
                        </div>
                        <div class="status_content">
                          <h4>Thank You</h4>
                          <p>Your Booking Is Confirmed</p>
                          <p>Booking Id – <span>{{data}}</span></p>
                          <p>Please check your mail for more details</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </perfect-scrollbar>

              </form>
            </div>
          </div>
        </div>
